<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GameRes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GameStorm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StormLib.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StormLib_Test.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>225530D31056BAC800FA646A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225FAC930E53B7F800DA2CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22954ACD11D463A30064B264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0546A318FA698E00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0546B018FA698E00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0546C918FA6BD300D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0546E118FA714A00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0546EE18FA714B00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B05470718FA71BB00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B05471418FA71BB00D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B05472D18FA725200D0EB01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0E625E18E70E1E00481D54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0E626D18E70E1E00481D54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4B6C2318FA9FD50011ECAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4B6C3318FA9FD50011ECAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
